@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.main-content {
  width: 80%;
  margin: auto;
  margin-top: 10%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid black; */
}

h1 {
  text-align: center;
  padding-left: 20px;
  padding-top: 30px;
  position: relative;
  color: #1f1111;
  font-family: arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
  text-decoration: underline;     
  text-decoration-color: red;   
}

h2 {
  font-family: arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.column1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.column2 {
  display: flex;
  flex-direction: column;
}

.first-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.scores {
  list-style: none;
  border: 3px solid;
  margin-top: 30px;
}

.display-section {
  border: 1px solid black;
  width: inherit;
  margin-top: 22px;
}

.score-item {
  padding: 2px;
  font-family: arial;
}

.refresh-btn {
  padding: 4px;
  width: 80px;
  border: 2px solid;
  box-shadow: 4px 3px 1px 1px;
}

.recent-score-list ul li:nth-child(even) {
  background: rgba(227, 227, 227, 0.836);
}

h3 {
  font-size: 28px;
  font-family: arial;
}

.adding-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.input-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

input {
  outline: none;
  padding: 2px;
  border: 3px solid;
  font-family: arial;
}

::placeholder {
  color: black;
  opacity: 1;
}

#submit-btn {
  margin-left: 124px;
  padding: 4px;
  width: 80px;
  border: 2px solid;
  box-shadow: 4px 3px 1px 1px;
}